
        <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>

    			<li>
    				<%= link_to "New Topic", new_topic_path %>
    			</li>

        </ul>
  